*{
margin: 0;
padding: 0;
}

body{
font-family: "Poppins", sans-serif;
}

.header{
min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7) ,rgba(4,9,30,0.7)) ,url(banner.png) ;
background-position: center;
background-size: cover;
}


nav{
display: flex;
justify-content: space-between;
padding: 2% 6%;
align-items: center;
}

img{
width: 140px;
}

.links-a{
flex: 1;
text-align: right;
transition: 1s;
}

.links-a ul li{
display: inline-block;
padding: 8px 12px;
position: relative;
list-style: none;
}
.links-a ul li a{
text-decoration: none;
font-size: 14px;
color: white;
}

.links-a ul li::after{
content: '';
width: 0%;
height: 2px;
background-color: tomato;
display: block;
margin: auto;
transition: 0.5s;
}
.links-a ul li:hover::after{
width: 100%;

}


.text-box{
width: 90%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.text-box h1 {
font-size: 62px;
color: white;
}

.text-box p{
margin: 10px 0 40px;
font-size: 14px;
color: white;
}

.btns{
display: inline-block;
text-decoration: none;
color: white;
border: solid 1px white;
padding: 12px 34px;
font-size: 13px;
background: transparent;
position: relative;
cursor: pointer;
transition: 1s;
}

.btns:hover{
border: 1 px solid tomato;
background-color: tomato;

}

nav .fa-solid{
display: none;
}

@media(max-width:700px){
    .text-box h1 {
        font-size: 20px;}
         .links-a ul li{
        display: block;
         }
         .links-a{
        background-color: tomato;
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 10;
         }
         nav .fa-solid{
        display: block;
        margin: 10px;
        cursor: pointer;
        color: white;
         }
         .links-a ul {
        padding: 30px;
         }
}


.course{
width: 80%;
margin: auto;
text-align: center;
padding-top: 100px ;
}

.course h1{
font-size: 36px;
font-weight: 600px;
}


p{
color: #777;
font-size: 14px;
font-weight: 300;
line-height: 22px;
position: 10px;
}

.row{
margin:5%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.course-col{
flex-basis: 31%;
background-color: #d94a4a1d;
border-radius: 10px;
margin-bottom: 5%;
padding: 20px 12px;
box-sizing: border-box;
transition: 0.5s;
}

.course-col h3{
text-align: center;
font-weight: 600;
margin: 10px 0;
}

.course-col:hover{
box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2)  ;
}


@media(max-width:700px){
.row{
flex-direction: column;
}
}


.canbas{
width: 80%;
margin: auto;
text-align: center;
padding-top: 50px;
}


.canbas-col{
flex-basis: 32%;
margin-bottom: 30px;
border-radius: 10px;
position: relative;
overflow: hidden;
}
 
.canbas-col img{
width: 100%;
border-radius: 10px;
display: block;
}

.leayr{
background: transparent;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: 0.3s;
}

.leayr:hover{
    background: rgba(208, 36, 36, 0.67);
}

.leayr h3{
width: 100%;
font-weight: 500;
color: #fff;
font-size: 26px;
bottom:0;
left: 50%;
transform: translateX(-50%);
position: absolute;
opacity: 0;
transition: 0.5s;
}
.leayr:hover h3{
bottom: 49%;
opacity: 1;
}

/* test-sport */

.test-sport{
width: 80%;
margin: auto;
padding-top: 100px;
text-align: center;
}
.sport-col{
flex-basis: 31%;
margin-bottom: 5px;
border-radius: 10px;
text-align: left;
position: relative;
overflow: hidden;
}

.sport-col img{
width: 100%;
border-radius: 10px;

}

.sport-col p{
padding: 0;
}

.sport-col h1{
margin-top: 16px;
margin-bottom: 15px;
font-size: 20px;
}

.test-m{
width: 80%;
margin: auto;
text-align: center;
padding-top: 100PX;
}

.test-m .test-stu{
flex-basis: 44%;
border-radius: 10px;
text-align: left;
margin-bottom: 5%;
background-color: #d94a4a1d;
padding: 25px;
cursor: pointer;
display: flex;
}


.test-m .test-stu img{
height: 40px;
width: 40px;
border-radius: 50%;
margin-right: 30px;
margin-left: 5px;
margin-top: 15px;

}

.test-m .test-stu p{
text-align: left;
color: #000000;
}

.test-stu .fa-solid{
color: rgb(255, 164, 27);
}

/* sta start-------------- */


.sta{
margin: 100px auto;
width: 80%;
background-image: linear-gradient(rgba(4,9,30,0.7) ,rgba(4,9,30,0.7)) ,url(banner2.jpg) ;
background-position: center;
background-size: cover;
border-radius: 10px;
text-align: center;
padding: 100px 0;
}

.sta h1{
color: white;
margin-bottom: 40px;
padding: 0;
}

@media(max-width:700px){
.sta h1{
font-size: 16px;
font-weight: 500;
padding: 0 10px;
}
.sta .btns::after{
content: '';
width: 20px;
height: 5px;
background-color: red;
position: absolute;
top: 44%;
right: -10px;
}
.sta .btns::before{
content: '';
width: 20px;
height: 5px;
background-color: red;
position: absolute;
top: 44%;
left: -10px;
}
.test-m .test-stu img{
margin-left: 0;
}
}

footer{
width: 100%;
text-align: center;
padding: 30px 0;
}


footer h4{
margin-bottom: 25px;
margin-top: 20px;
font-weight: 600;
}

.icon .fa-brands {
color:#f44336;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
}
 .fa-solid{
color:#f44336;
}